In [18]:
# merge two lists to make dictionary

keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
"use zip function to produce the output"
dict(zip(keys, values))



# expected output: {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [32]:
# merge two dictionary 

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
"""using the update function to eliminate duplicates"""
dict1.update(dict2)
print(dict1)

#expected:{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [43]:
# Write a Python program to create a new dictionary by extracting the mentioned keys from the below dictionary.

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "sal": 8000,
    "city": "New york"}
keys = ["name", "sal"]
new_keys = {x : sample_dict[x]for x in keys}
print(new_keys)

# Keys to extract
#keys = ["name", "salary"]

#expected output: {'name': 'Kelly', 'salary': 8000}

{'name': 'Kelly', 'sal': 8000}

In [54]:
# Write a Python program to check if value 200 exists in the following dictionary.

#Given:

sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sample_dict.values():
    print("200 present in a dict")
else:
    print("200 not present in a dict")
#Expected output: 200 present in a dict

200 present in a dict

In [71]:
# Get the key of a minimum value from the following dictionary
sample_dicts = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
min_value = min(sample_dicts.values())
min_key = [key for key in sample_dicts if sample_dicts[key] == min_value]
print(min_key)

# Expected output: Math

['Math']

In [52]:
sample_dict.values()

dict_values([100, 200, 300])

In [60]:
sample_dicts.keys()

dict_keys(['Physics', 'Math', 'history'])

In [16]:
# Display Fibonacci series up to 10 terms
#The Fibonacci Sequence is a series of numbers. The next number 
#is found by adding up the two numbers before it. 
#The first two numbers are 0 and 1.

#For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series 
#above is 13+21 = 34.
f1 = 0
f2 = 1
num = [f1, f2]
for i in range(0, 8):
    f3 = f1 + f2
    num.append(f3)
    f1 = f2
    f2 = f3
print(num)

#Expected output: Fibonacci sequence: 0  1  1  2  3  5  8  13  21  34

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [1]:
# Reverse a given integer number
#Given:

num = str(76542)
int(num[::-1])

#Expected output:24567

24567

In [12]:
# Use a loop to display elements from a given list present at odd 
#index positions

#Given:

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
"use the range function to loop over the given list"
for num in range(1, len(my_list), 2):
    print(my_list[num])
    
#Note: list index always starts at 0

# Expected output:20 40 60 80 100

10
30
50
70
90

In [31]:
# Accept a list of 5 float numbers as an input from the user, and 
#return the average

In [22]:
3/2

1.5

In [1]:
gen = (i ** 2 for i in range(5))

In [6]:
next(gen)

9

In [ ]:
nex