# merge two dictionary 

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

expected output: {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [1]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [3]:
dict1.update(dict2)

In [4]:
dict1

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [6]:
for key in dict2.keys():
    dict1[key] = dict2[key]

In [ ]:
key = Thirty

# Write a Python program to change Bradâ€™s salary to 8500 in the following dictionary.

Given:

sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}
Expected output:

{
   'emp1': {'name': 'Jhon', 'salary': 7500},
   'emp2': {'name': 'Emma', 'salary': 8000},
   'emp3': {'name': 'Brad', 'salary': 8500}
}

In [19]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

In [23]:
sample_dict['emp3']['salary'] = 8500

In [24]:
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

In [7]:
dict1

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [8]:
dict2.keys()

dict_keys(['Thirty', 'Fourty', 'Fifty'])

In [2]:
d = {'a': 1, 'b': 2}
r = {'a': 3, 'c': 4}

In [9]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [10]:
dict1.keys()

dict_keys(['Ten', 'Twenty', 'Thirty'])

In [11]:
dict1.values()

dict_values([10, 20, 30])

In [12]:
dict1['Ten']

10

In [13]:
dict1['Hundred'] = 100

In [14]:
dict1

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Hundred': 100}

# Calculate the cube of all numbers from 1 to a given number
Write a program to print the cube of all numbers from 1 to a given number

Given:

input_number = 6

Expected output:

Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216

In [29]:
num = int(input('Enter your number: '))

Enter your number: 20

In [30]:
num

20

In [40]:
num = int(input('Enter your number: '))
for n in range(1, num + 1):
    print(f'Current Number is :{n}  and the cube is {n ** 3}')

Enter your number: 20
Current Number is :1  and the cube is 1
Current Number is :2  and the cube is 8
Current Number is :3  and the cube is 27
Current Number is :4  and the cube is 64
Current Number is :5  and the cube is 125
Current Number is :6  and the cube is 216
Current Number is :7  and the cube is 343
Current Number is :8  and the cube is 512
Current Number is :9  and the cube is 729
Current Number is :10  and the cube is 1000
Current Number is :11  and the cube is 1331
Current Number is :12  and the cube is 1728
Current Number is :13  and the cube is 2197
Current Number is :14  and the cube is 2744
Current Number is :15  and the cube is 3375
Current Number is :16  and the cube is 4096
Current Number is :17  and the cube is 4913
Current Number is :18  and the cube is 5832
Current Number is :19  and the cube is 6859
Current Number is :20  and the cube is 8000

In [27]:
def bump():
    """
    please enter your age
    """
    # I am printing my name now
    print('Omolewa')

In [ ]:
bump