In [4]:
# if-else statement

In [ ]:
if condition:
    afgdvgavvgusfhgasf
else:
    gadghassfb;oafujf

In [7]:
cond = False

In [9]:
if cond:
    print('Omolewa')
else:
    print('Nene')

In [21]:
name = input("Please Enter your name: ")

q

In [14]:
name

'Nene'

In [27]:
age = int(input("Please, Enter your Age: "))

Please, Enter your Age: 120

In [28]:
age

120

In [29]:
assert age > 100, "Not Qualified"

In [34]:
fname = input('Please, enter your first name: ')
age = input('Please, enter your Age: ')
print(f'{fname}, you are {age} years old')

Please, enter your first name: Nene
Please, enter your Age: 20
Nene, you are 20 years old

In [31]:
fname

'Omolewa'

In [32]:
age

'13'

In [33]:
print(f'{fname}, you are {age} years old')

Omolewa, you are 13 years old

In [36]:
print(fname, "you are", age, "years old")

Nene you are 20 years old

In [55]:
inp = input('Please, enter your first name and Age, sepearted by space: ')

Please, enter your first name and Age, sepearted by space: Omolewa 30

In [57]:
inp.split()

['Omolewa', '30']

In [54]:
inp.split(',')

['Oma', '20']

In [49]:
fname, age = inp.split() # unpack

In [50]:
fname

'Omolewa'

In [51]:
age

'30'

In [43]:
inp.split('o')

['Om', 'lewa 30']

In [ ]:
print(f'{fname}, you are {age} years old')

In [44]:
sent = 'my name is Omolewa and I am from Atlanta GA'

In [47]:
sent.split('a')

['my n', 'me is Omolew', ' ', 'nd I ', 'm from Atl', 'nt', ' GA']

In [ ]:
inp = input('Please, enter your first name and Age, sepearted by space: ')

In [63]:
# inp = input('Please, enter your first name and Age, sepearted by space: ')
# fname, age = inp.split()
fname, age = input('Please, enter your first name and Age, sepearted by space: ').split()

if int(age) >= 18:
    print(f"{fname}, you are qualified for the Bonus")
else:
    print(f"{fname}, you are NOT qualified for the Bonus")

Please, enter your first name and Age, sepearted by space: Oma 100
Oma, you are qualified for the Bonus

In [68]:
fname, age = input('Please, enter your first name and Age, sepearted by space: ').split()
age = int(age)

if age < 18:
    print(f"{fname}, you are qualified for the Bonus1")
elif age >= 18 and age < 35:
    print(f"{fname}, you are qualified for the Bonus2")
else:
    print(f"{fname}, you are qualified for the Bonus3")

Please, enter your first name and Age, sepearted by space: Oma 18
Oma, you are qualified for the Bonus2

In [69]:
fname, age = input('Please, enter your first name and Age, sepearted by space: ').split()
age = int(age)

if age < 18:
    print(f"{fname}, you are qualified for the Bonus1")
elif age < 35:
    print(f"{fname}, you are qualified for the Bonus2")
else:
    print(f"{fname}, you are qualified for the Bonus3")

Please, enter your first name and Age, sepearted by space: Oma 20
Oma, you are qualified for the Bonus2

In [71]:
age

20

In [70]:
out = age == 18
out

False

In [72]:
True + False

1

In [73]:
True + True

2

In [75]:
True + True + True

3

In [76]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [79]:
for num in range(50, 1000, 100):
    print(num)

50
150
250
350
450
550
650
750
850
950

In [81]:
[num ** 2 for num in range(10) if num % 2 == 0]

[0, 4, 16, 36, 64]

In [82]:
num = 20

In [83]:
num / 3

6.666666666666667

In [84]:
num // 3

6

In [85]:
num % 3

2

In [86]:
100 % 50

0

In [87]:
1454355 % 2

1

In [88]:
if 1454355 % 2 == 0:
    print('Even')