In [ ]:
# If condition is true do something else do another thing

In [2]:
cond = False

In [3]:
if cond:
    print('Omolewa')
else:
    print('Nene')

Nene

In [4]:
input('Please enter your name: ')

Please enter your name: Omolewa

'Omolewa'

In [5]:
age = input('Please enter your age: ')

Please enter your age: 30

In [6]:
age

'30'

In [7]:
# INPUT function always returns a string. 
# To get a different variable type output, you need to cast

In [8]:
age = int(input('Please enter your age: '))

Please enter your age: 30

In [9]:
age

30

In [10]:
# ASSERT function (means please make sure that OR confirm that)

In [11]:
assert age > 100, 'Not Qualified'

AssertionError: Not Qualified

In [12]:
age = int(input('Please enter your age: '))

Please enter your age: 120

In [13]:
age

120

In [14]:
assert age > 100, 'Not Qualified'

In [17]:
fname = input('Please enter your name: ')
age = int(input('Please enter your age: '))

Please enter your name: Omolewa
Please enter your age: 30

In [18]:
print(f'{fname} you are {age} years old')

Omolewa you are 30 years old

In [19]:
input('Please enter your name and age, separated by space: ')

Please enter your name and age, separated by space: Omolewa 30

'Omolewa 30'

In [20]:
inp = input('Please enter your name and age, separated by space: ')

Please enter your name and age, separated by space: Omolewa 30

In [21]:
inp

'Omolewa 30'

In [22]:
# How do you split a data string? 
# use split function and it will split based on whitespace unless a character is specified

In [23]:
inp.split()

['Omolewa', '30']

In [24]:
# Eg 2

In [25]:
sent = 'my name is Edward and I live in Lagos'

In [26]:
sent.split()

['my', 'name', 'is', 'Edward', 'and', 'I', 'live', 'in', 'Lagos']

In [27]:
sent.split('and')

['my name is Edward ', ' I live in Lagos']

In [20]:
inp = input('Please enter your name and age, separated by space: ')

Please enter your name and age, separated by space: Omolewa 30

In [28]:
inp.split()

['Omolewa', '30']

In [30]:
fname, age = inp.split()

In [32]:
f'My name is {fname} and I am {age} years old'

'My name is Omolewa and I am 30 years old'

In [ ]:
# A company wants to give out age-based bonuses for people 18 and above. Print a statement stating if the person is qualified or not

In [35]:
input('Please enter your first name and age, separated by space: ')

Please enter your first name and age, separated by space: Ade 15

'Ade 15'

In [36]:
# inp = input('Please enter your first name and age, separated by space: ')

# fname, age = inp.split()

In [37]:
fname, age = input('Please enter your first name and age, separated by space: ').split()

if int(age) >= 18:
    print(f'{fname}, you are qualified for the bonus')
else:
    print(f'{fname}, you are not qualified for the bonus')

Please enter your first name and age, separated by space: Tom 44
Tom, you are qualified for the bonus

In [38]:
fname, age = input('Please enter your first name and age, separated by space: ').split()

if int(age) < 18:
    print(f'{fname}, you are qualified for bonus1')
elif int(age) > 18 and int(age) < 35:
    print(f'{fname}, you are qualified for bonus2')
else:
    print(f'{fname}, you are qualified for bonus3')

Please enter your first name and age, separated by space: David 18
David, you are qualified for bonus3

In [39]:
# Improve code (optimize) by casting age to integer at the start

In [41]:
fname, age = input('Please enter your first name and age, separated by space: ').split()
age = int(age)
if age < 18:
    print(f'{fname}, you are qualified for bonus1')
elif age < 35:
    print(f'{fname}, you are qualified for bonus2')
else:
    print(f'{fname}, you are qualified for bonus3')

Please enter your first name and age, separated by space: Paul 18
Paul, you are qualified for bonus2

In [42]:
out = age == 18
out

True

In [43]:
#range function

In [45]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [46]:
for num in range(50, 1000, 100):
    print(num)

50
150
250
350
450
550
650
750
850
950

In [47]:
[num ** 2 for num in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [50]:
[num ** 2 for num in range(10)if num % 2 == 0 ]
# square even numbers in range 10

[0, 4, 16, 36, 64]

In [51]:
num = 20

In [52]:
num /3 #divides

6.666666666666667

In [53]:
num // 3 #gives whole number

6

In [54]:
num % 3 #gives remainder

2

In [55]:
# check if 1454355 is an even number

In [56]:
1454355 % 2

1

In [57]:
if 1454355 % 2 == 0:
    print('Even')
else:
    print('False')

False