In [1]:
print ('hello world')

hello world

In [3]:
name = ['Oma']

In [4]:
name1 = 'Mary'
name2 = 'Anna'
name3 = 'Rosa'

In [5]:
name1

'Mary'

In [10]:
5

5

In [11]:
'5' + '6'

'56'

In [13]:
'5.0' + '5.0'

'5.05.0'

In [14]:
5+5

10

In [15]:
5.0 + 5.0

10.0

In [16]:
int ("5") + int ("5")

10

In [17]:
"Hello World"

'Hello World'

In [18]:
'hello world'

'hello world'

In [19]:
"don't copy"

"don't copy"

In [21]:
"don't copy"

"don't copy"

In [22]:
'she said "I wont"'

'she said "I wont"'

In [26]:
int ('5')

5

In [27]:
"Hello" + "World"

'HelloWorld'

In [32]:
"this costs "  + str(6+5) + " dollars"

'this costs 11 dollars'

str ('5)

In [34]:
str ('5')

'5'

In [36]:
"Hello:Nick"

'Hello:Nick'

In [38]:
"Hello:Nick".split(":")

['Hello', 'Nick']

In [40]:
"My name is " +  "Hello:Nick".split(":")[1]

'My name is Nick'

In [41]:
True

True

In [42]:
5==5

True

In [44]:
5 == 4

False

In [48]:
"this" == "this"

True

In [49]:
["Movies", "Games", "Python", "Tennis" ]

['Movies', 'Games', 'Python', 'Tennis']

In [65]:
["Movies", "Games", "Python", "Tennis"] [3]

'Tennis'

In [55]:
print ("I Love " +["Movies", "Games", "Python", "Tennis"] [3])

I Love Tennis

In [57]:
print ("I Love " +["Movies", "Games", str(21), "Python", "Tennis"] [2])

I Love 21

In [58]:
print ("I Love " +["Movies", "Games", '21', "Python", "Tennis"] [2])

I Love 21

In [62]:
{"name": "Tyler", "age": 27, "hobby": "tennis"}

{'name': 'Tyler', 'age': 27, 'hobby': 'tennis'}

In [64]:
{"name": "Tyler", "age": 27, "hobby": "tennis"} ["name"]

'Tyler'

In [66]:
{"name": "Tyler", "age": 27, "hobby": "tennis"} ["hobby"]

'tennis'

In [67]:
A= "Hello"

In [69]:
print (A)

Hello

In [76]:
greeting = "Hello everyone!"

In [78]:
print (greeting)

Hello everyone!

In [79]:
greeting = greeting.split(" ") [0]

In [81]:
print (greeting)

Hello

In [83]:
print (greeting + " Tyler")

Hello Tyler

In [84]:
len (greeting)

5

In [85]:
len (greeting)

5

In [86]:
greeting = "Hello everyone!"

In [87]:
len (greeting)

15

In [94]:
sorted([2,5,7,9,3,6,9,4,1])

[1, 2, 3, 4, 5, 6, 7, 9, 9]

In [97]:
sorted(["ball", "cart", "train", "dog"])

['ball', 'cart', 'dog', 'train']

In [100]:
sorted(["ball", "cart", "Horse", "train", "Dog", "5.9","6", "8.3"])

['5.9', '6', '8.3', 'Dog', 'Horse', 'ball', 'cart', 'train']

In [106]:
def my_funct():
    print ("This is my new function!!")
    print ("Second string")

In [107]:
my_funct()

This is my new function!!
Second string

In [113]:
def my_funct(str1, str2):
    print ("str1")
    print (" str2")

In [115]:
my_funct("This is my new function!!","Second string")

str1
 str2

In [121]:
def print_something(name, age):
    print("My name is " + name + " and my age is " + str(age))

In [122]:
print_something("Tyler",22)

My name is Tyler and my age is 22

In [126]:
def print_something(name, age):
    print("My name is", name, "and my age is", age)

In [127]:
print_something("Tyler",22)

My name is Tyler and my age is 22

In [136]:
def print_something(name = "Person", age = "unknown"):
    print("My name is", name, "and my age is", age)

In [138]:
print_something(None,27)

My name is None and my age is 27

In [139]:
print_something(None)

My name is None and my age is unknown

In [140]:
print_something(27)

My name is 27 and my age is unknown

In [141]:
print_something()

My name is Person and my age is unknown

In [142]:
print_something(age =22, name = "Tyler")

My name is Tyler and my age is 22

In [161]:
def do_math (num1, num2):
    return num1 + num2

In [162]:
do_math(5,7)

12

In [169]:
math1 = do_math(5,7)
math2 = do_math(11,34)

In [172]:
print (math1, math2)

12 45

In [175]:
print ("sum is", math1,"and other sum is",  math2)

sum is 12 and other sum is 45

In [182]:
check = True

In [236]:
if check == False:
    print ("This is false")

In [235]:
if check == False:
    print ("This is false")
else:
    print("This is actually true")

This is actually true

In [207]:
if check == True:
    print ("This is false")
else:
    print("This is actually true")

This is actually true

In [208]:
if check == False:
    print ("This is false")

This is false

In [214]:
if check == True:
    print ("This is false")
elif check == "Checkers":
    print ("These are Checkers")
elif check == "Toys":
    print ("These are Toys")
else:
    print("This is actually true")

This is actually true

In [200]:
if check == False:
    print ("This is false")

This is false

In [223]:
check = "Checkers"

In [224]:
if check == True:
    print ("This is false")
elif check == "Checkers":
    print ("These are Checkers")
elif check == "Toys":
    print ("These are Toys")
else:
    print("This is actually true")

These are Checkers

In [225]:
numbers = [1, 2, 3, 4, 5, 6]

In [228]:
for item in numbers:
    print (item)

1
2
3
4
5
6

In [229]:
numbers = ["Tyler", "Someone", "Person","Age"]

In [230]:
for item in numbers:
    print (item)

Tyler
Someone
Person
Age

In [231]:
for item in numbers:
    print ("This Persons name is", item)

This Persons name is Tyler
This Persons name is Someone
This Persons name is Person
This Persons name is Age

In [ ]:
run = True
current = 1

In [ ]:
while run:
    if current == 100:
        run= False
    else:
        print (current)
        current += 1