In [1]:
# FOR LOOP

num1 = [2, 3, 4, 5, 6]
num2 = [10, 20, 30, 40]

In [2]:
for x in num1:
    for y in num2:
        print(x * y)

20
40
60
80
30
60
90
120
40
80
120
160
50
100
150
200
60
120
180
240

In [ ]:
# How to Populate A List if this is required for the operation above

In [3]:
output = []
for x in num1:
    for y in num2:
        output.append(x * y)

In [4]:
output

[20,
 40,
 60,
 80,
 30,
 60,
 90,
 120,
 40,
 80,
 120,
 160,
 50,
 100,
 150,
 200,
 60,
 120,
 180,
 240]

In [6]:
# f-string
f'My Age is 90'

'My Age is 90'

In [7]:
age = [23, 45, 20, 100]
for a in age:
    print(f'My age is {a}')

My age is 23
My age is 45
My age is 20
My age is 100

In [8]:
age = [23, 45, 20, 100]
for a in age:
    print(f'My age is {a} and I want to multiply my age by 10: {10 * a}')

My age is 23 and I want to multiply my age by 10: 230
My age is 45 and I want to multiply my age by 10: 450
My age is 20 and I want to multiply my age by 10: 200
My age is 100 and I want to multiply my age by 10: 1000

In [9]:
num1 = [2, 3, 4]
num2 = [10, 20, 30]

In [10]:
output = {}
for x in num1:
    for y in num2:
        output[f'{str(x)} * {str(y)}']= x * y

In [11]:
output

{'2 * 10': 20,
 '2 * 20': 40,
 '2 * 30': 60,
 '3 * 10': 30,
 '3 * 20': 60,
 '3 * 30': 90,
 '4 * 10': 40,
 '4 * 20': 80,
 '4 * 30': 120}

In [12]:
# representing output as dictionary using tupples
output = {}
for x in num1:
    for y in num2:
        output[(str(x),str(y))] = x * y

In [13]:
output

{('2', '10'): 20,
 ('2', '20'): 40,
 ('2', '30'): 60,
 ('3', '10'): 30,
 ('3', '20'): 60,
 ('3', '30'): 90,
 ('4', '10'): 40,
 ('4', '20'): 80,
 ('4', '30'): 120}

In [15]:
# Given the list [2, 4, 6, 8, 10] generate the output [20, 40, 60, 80, 100]

In [16]:
nums = [2, 4, 6, 8, 10]
nums2 = 10

In [17]:
output = []
for x in nums:
    output.append(x * nums2)

In [18]:
output

[20, 40, 60, 80, 100]

In [19]:
# To improve on the code

nums = [2, 4, 6, 8, 10]
output = []
for x in nums:
    output.append(x * 10)

In [20]:
output

[20, 40, 60, 80, 100]

In [14]:
# list comprehension, dictionary comprehension, generator

In [21]:
# To improve on the code use list comprehension

nums = [2, 4, 6, 8, 10]

In [22]:
[x * 10 for x in nums]

[20, 40, 60, 80, 100]

In [15]:
# Given the list [2, 4, 6, 8, 10] generate the output {2: 20, 4: 40, 6: 60, 8: 80, 10: 100}

In [23]:
output = {}
for x in nums:
    output[x] = x * 10

In [24]:
output

{2: 20, 4: 40, 6: 60, 8: 80, 10: 100}

In [25]:
#To improve the code, use dictionary comprehension

In [26]:
{x: x * 10 for x in nums}

{2: 20, 4: 40, 6: 60, 8: 80, 10: 100}

In [27]:
# Zip

In [28]:
names = ['Omolewa', 'Edward', 'Felix']
cash = [10, 20, 30]

In [29]:
dict(zip(names, cash))

{'Omolewa': 10, 'Edward': 20, 'Felix': 30}

In [30]:
# Assignment

In [9]:
num1 = [2, 3, 4]
num2 = [10, 20, 30]

In [46]:
for x in num1:
    for y in num2:
        dict(zip(f'{str(x)} * {str(y)}', (x * y)))

TypeError: 'int' object is not iterable