## Creating Custom Functions

In [37]:
def multiply():
    print(2 * 3)

In [2]:
multiply()

6

In [3]:
def print_name():
    print('Omolewa')

In [4]:
print_name()

Omolewa

In [5]:
def print_name(name):
    print(name)

In [6]:
print_name('Edward')

Edward

### Positional Argument

In [11]:
def print_name(name1, name2, name3, name4):
    print(name4)

In [12]:
print_name('Ade', 'Tony', 'David', 'Omo')

Omo

In [ ]:
# create a function to print out the last character of a name

In [18]:
def print_char(name):
    print(name[-1])

In [24]:
print_char('Olaitan')

n

In [ ]:
# create a function to print out in upper case

In [25]:
def print_upper(name):
    print(name.upper())

In [26]:
print_upper('Caroline')

CAROLINE

In [ ]:
# Methods using fullstop and tab to view options

In [32]:
name = 'Brian'

In [33]:
name.capitalize()

'Brian'

In [35]:
name.split('i')

['Br', 'an']

In [36]:
name.upper()

'BRIAN'

### Keyword Argument

In [28]:
def print_name(name1, name2, name3, name4):
    print(name4)

In [30]:
print_name(name4 = 'Ade', name2 = 'Tony', name1 = 'David', name3 = 'Omo')

Ade

#### Default values of arguments

In [38]:
def multiply(x=4, y=5):
    print(x + y)

In [39]:
multiply()

9

In [40]:
multiply(x=10, y=15) #you can change the preset values of the arguments when you call a function

25

In [41]:
multiply(y=15) #you can change the preset value of just one argument when you call a function

19

#### Mix of positional argument with default arguments

In [43]:
 #the positional argument must come ahead of default arguments 
    
def nene(z, x = 4, y = 5):
    print(x + y + z)

In [44]:
nene(12)  # 12 will be assigned to z based on it's position while other arguments retain their default values

21

### How to use return

In [45]:
# when return is used, the code will not print the output
# when return is used while creating a function the code will not run any other command after that line

In [46]:
# E.G. it will not print Omolewa


def nene(z, x = 4, y = 5):
    return x + y + z
    print('Omolewa')

In [47]:
nene(12)

21

In [48]:
# if we want to for eg multiply the output of the function by 100

In [49]:
out = nene(12)

In [50]:
out * 100

2100

In [51]:
# if we had used print to define the function it would not enable us perform the calculation above
def nene(z, x = 4, y = 5):
    print(x + y + z)

In [52]:
out = nene(12)

21

In [53]:
out # in this scenario 'out' will not display any value

### Generator - generates a value or output

In [54]:
# This is basically a for loop inside a tuple

In [55]:
# E.g

gen = (i ** 2 for i in range(5))

In [56]:
gen

In [57]:
# To get the values for the generator, use a function called 'next'

In [58]:
next(gen) #this will return the 1st value of the genrator

0

In [59]:
next(gen)  # this will return the next value of the generator

1

In [60]:
next(gen) #this will return the next value of the generator and so on and so forth

4

In [ ]:
# How do I display the a specific output instead of sequentially? 
# What is a generator used for and why?