# merge two dictionary 

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

expected output: {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [1]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 10}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [2]:
dict1.update(dict2)

In [3]:
dict1

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [4]:
for key in dict2.keys():
    dict1[key] = dict2[key]

In [5]:
dict1.keys()

dict_keys(['Ten', 'Twenty', 'Thirty', 'Fourty', 'Fifty'])

In [6]:
dict1.values()

dict_values([10, 20, 30, 40, 50])

In [7]:
dict1['Ten']

10

In [8]:
dict1['Hundred'] = 100 ##

In [9]:
dict1

{'Ten': 10,
 'Twenty': 20,
 'Thirty': 30,
 'Fourty': 40,
 'Fifty': 50,
 'Hundred': 100}

# Calculate the cube of all numbers from 1 to a given number
Write a program to print the cube of all numbers from 1 to a given number

Given:

input_number = 6

Expected output:

Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216

In [10]:
input_number  = [x**3 for x in range(1,7)]
print(input_number )

[1, 8, 27, 64, 125, 216]

In [11]:
num = range(1, 7)

In [12]:
for x in num:
    y = x**3
    print(y)

1
8
27
64
125
216

In [13]:
cubes_by_four = [x**3 for x in range(1,7) if x**3 % 4 == 0]
>>> print(cubes_by_four)
[8, 64, 216, 512, 1000]

[8, 64, 216]

[8, 64, 216, 512, 1000]

# Write a Python program to change Bradâ€™s salary to 8500 in the following dictionary.

Given:

sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}
Expected output:

{
   'emp1': {'name': 'Jhon', 'salary': 7500},
   'emp2': {'name': 'Emma', 'salary': 8000},
   'emp3': {'name': 'Brad', 'salary': 8500}
}

In [14]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

In [15]:
sample_dict['emp3']['salary'] =  8500

In [16]:
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

In [ ]:
num = int(input('Enter your number: '))
num

In [ ]:
num = int(input('Enter your number: '))
for n in range(1, num + 1):
    print(f'Current Number is :{n}  and the cube is {n ** 3}')

In [ ]:
def bump():
    """
    please enter your age
    """
    # I am printing my name now
    print('Omolewa')

In [ ]:
names = ['Omolewa', 'Edward', 'James', 'Obi', 'Loko', 'Joseph', 'Abi']

In [ ]:
names[:4]

In [ ]:
names1[-1][-1]

In [ ]:
names1[6][0].upper()

In [ ]:
name = input("Please Enter your name: ")

In [ ]:
age = int(input("Please, Enter your Age: "))

In [ ]:
fname = input('Please, enter your first name: ')
age = input('Please, enter your Age: ')
print(f'{fname}, you are {age} years old')

In [ ]:
fname

In [ ]:
age

In [ ]:
print(f'{fname}, you are {age} years old')

In [ ]:
print(fname, "you are", age, "years old")

In [ ]:
inp = input('Please, enter your first name and Age, sepearted by space: ')